.my-navbar {
    background-color: #fb9dc7 !important;
}

.article-amount::-webkit-outer-spin-button,
.article-amount::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.my-number {
    height: 29px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.my-canvas {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;  
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.my-canvas::-webkit-scrollbar {
    display: none !important;
  }

