.my-navbar {
    background-color: hsl(0deg 0% 40% / 90%) !important;
}

.article-amount::-webkit-outer-spin-button, .article-amount::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

table{
    background: antiquewhite;
}
thead{
    background: navajowhite;
}
.card-body, .card-footer{
    background: antiquewhite !important;
}

.my-number {
    height: 29px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.my-canvas {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.my-canvas::-webkit-scrollbar {
    display: none !important;
}

.my-canvas-footer {
    position: absolute !important;
    background-color: white;
    height: 16%;
    margin-left: 0px !important;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.rating-stars {
    outline: none !important;
}

.my-shadow {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%) !important;
}

.my-background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover, .checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover, .checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.btn-primary{
    background-color: #ffa900 !important;
}